@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Print to PDF</h2>
        <p>@Html.ActionLink("Print", "PrintPdf")</p>
    </div>
    <div class="col-md-4">
        <h2>Print to HTML</h2>
        <p>@Html.ActionLink("Print", "PrintHtml")</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Export to PDF</h2>
        <p>@Html.ActionLink("Export", "ExportPdf")</p>
    </div>
    <div class="col-md-4">
        <h2>Export to HTML</h2>
        <p>@Html.ActionLink("Export", "ExportHtml")</p>
    </div>
    <div class="col-md-4">
        <h2>Export to Excel</h2>
        <p>@Html.ActionLink("Export", "ExportXls")</p>
    </div>
</div>